$background:rgb(255, 247, 0);
$tipografia: arial, verdana, sans-serif;


@import"./base/reset";
@import"./components/cards";
@import"./layout/carrito";
@import"./layout/contactos";
@import "./utilities/boton";


header{
    position: sticky;
    top: 0;
  nav{
    display: flex;
    background-color: $background;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
    font-family: $tipografia;
    
    .button-nav{
        @mixin boton{
        }
    }

    .barrabusqueda-{
        display: flex;
        margin: 30px;
    }

    input{
        border: none;
        outline: none;
        background-color: white;
        height: 100%;
        padding: 0 10px;
        font-size: 20px;
        width: 650px;
    }
   
  .hcc{
    display: flex;
    list-style: none;
    margin: auto 0;
  }
  .lililinav{
    margin: 0 2px;
    padding: 20px;
  }
  a{
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
  }
}
}

main{
  font-family: $tipografia;
  .card-img-top{
    padding-top: .625rem;
  }
  
}

footer{
    margin-top: 120%;
    display: flex;
    background-color: $background;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    font-family: $tipografia;
    .redes{
      padding: 50px;
     }
  .li-redes{
    list-style: none;
    font-size: 25px;
    }
.email-tel{
    margin-top: 70px;
    }
.t-e{
    font-size: 25px;
    list-style: none;
    }
.mapa{
    width: 350px;
    height: 200px;
    margin-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    }
}



/**TORSO**/

/**main**/
  .cardsss{
  height: 100vh;
  padding: 250px;
  padding-left: 60px;
  .card{
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
  }
  .card-body{
    @extend .card;
  }
  .card-title{
    padding: 20px;
  }
  .card-text{
    padding: 20px;
  }
  .button-buy{
   padding: 10px;
   padding-bottom: .625rem;
  }
 }
 



/**RESPONSIVE-CARRITO**/
@media(max-width:1024px){
    .main-carrito{
        background-image: none;
    }
  .hcc{
      flex-direction: column;
  }
  nav .lililinav svg{
      width: 20px;
      height: 20px;
  }
  .barrabusqueda-{
      justify-content: center;
      width: 60px;
      height: 30px;
  }
  .h3{
      font-weight: normal;
  }
}
@media(max-width:768px){
  nav{
      width: 100%;
      height: 100%;
  }
  .redes{
      flex-direction: column;
      font-size: 20px;
  }
  footer .li-redes svg{
      width: 18px;
      height: 18px;
  }
  .h6{
      flex-direction: column;
  }
  .mapa{
      width: 250px;
      height: 200px;
      margin-top: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
  }
  footer .t-e svg{
      justify-content: center;
      width: 18px;
      height: 18px;
  }
  .h3{
      font-size: 20px;
      font-weight: normal;
  }
 }
@media(max-width:425px){
  nav{
      width: 100%;
      height: 100%;
  }
  .barrabusqueda-{
      display: none;
  }
  nav img{
      width: 100px;
      height: 80px;
  }
  footer{
      margin-top: 100%;
  }
  .mapa{
      display: none;
  }
  .section-1{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
   }
  .section-2{
  background-color: yellow;
  text-align: center;
  padding-top: 65px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  grid-column-start: 3 ;
  grid-column-end: 4 ;
  grid-row-start: 4  ;
  grid-row-end:  5 ;
  }
  .section-3{
      background-color: yellow;
      text-align: center;
      padding-top: 65px;
      grid-column-start: 3 ;
      grid-column-end: 4 ;
      grid-row-start: 5 ;
      grid-row-end: 6 ;
  }
  .section-4{
          background-color: black;
          text-align: center;
          padding-top: 65px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start:  6;
          grid-row-end: 7;
       }
  .h3{
      font-size: 16px;
  }
}


/**RESPONSIVE-CONTACTO**/
@media(max-width:1024px){
    .barrabusqueda-{
        display: flex;
        margin-top: 60px;
    }
    .h1-contacto{
        margin-top: 350px;
    }
}
@media(max-width:768px){
    .barrabusqueda-{
        display: none;
    }
    .mapa{
        display: none;
    }
    .email-tel{
        padding-right: 20px;
    }
    .hcc{
        display: flex;
        flex-direction: row;
    }
    header nav img{
        padding-top: 10px;
    }
}
@media(max-width:425px){
    .hcc{
        display: flex;
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
    }
}


/**RESPONSIVE-TORSO**/
@media(max-width:2560px){
  .footer-index{
    margin-top: 600px;
  }
  .footer-torso{
    margin-top: 200%;
  }
  .footer-espalda{
    margin-top: 200%;
  }
  .footer-brazos{
    margin-top: 200%;
  }
  .footer-treninferior{
    margin-top: 200%;
  }
  .footer-accesorios{
    margin-top: 200%;
  }
}
@media(max-width:1440px){
    .cardsss{
        height: 100vh;
        padding: 250px;
        padding-left: 60px;
        text-align: center;
        align-items: center;
    }
    .footer-torso{
        margin-top: 150%;
    }
    .footer-espalda{
        margin-top: 150%;
    }
    .footer-brazos{
        margin-top: 150%;
    }
    .footer-treninferior{
        margin-top: 150%;
    }
    .footer-accesorios{
        margin-top: 150%;
    }
    
}
@media(max-width:1024px){
    nav img{
        margin-top: 40px;
        width: 100px;
        height: 100px;
    }
    main{
            background-image: url(../img/fondo-cardsss.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vw;
    
    }
    .cardsss{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center ;
    }
    .card{
        padding-top: 15px;
    }
    .footer-torso{
        margin-top: 300%;
    }
  }
@media(max-width:768px){
    .nav-torso{
        width: 100%;
        height: 100%;
    }
    .hcc{
        display: flex;
        flex-direction: column;
        padding-left: 70px;
    }
    .footer-torso{
        margin-top: 350%;
    }
  }
@media(max-width:425px){
    .nav-torso{
        width: 100vh;
        height: 100%;
    }
    .hcc{
        padding-left: 90px;
    }
    .footer-torso{
        height: 100%;
        width: 100vh;
        margin-top: 650%;
    }
    .footer-index{
        margin-top: 650%;
    }
    .cardsss{
        display: flex;
        flex-direction: column;
        margin-left: 60%;
        
    }
    .redes{
        margin-left: 50px;
    }
}


/**RESPONSIVE-ESPALDA**/
@media(max-width:1024px){
    .footer-espalda{
        margin-top: 350%;
    }
}
@media(max-width:768px){
    .footer-espalda{
        margin-top: 350%;
    }
}
@media(max-width:425px){
    .nav-espalda{
        width: 100vh;
        height: 100%;
    }
    .footer-espalda{
        margin-top: 650%;
        width: 100vh;
        height: 100%;
    }
}


/**RESPONSIVE-BRAZOS**/
@media(max-width:1024px){
    .footer-brazos{
        margin-top: 2300px;
    }
}
@media(max-width:425px){
    .nav-brazos{
        width: 100vh;
        height: 100%;
    }
    .footer-brazos{
        width: 100vh;
        height: 100%;
    }
}


/**RESPONSIVE-ACCESORIOS**/
@media(max-width:1024px){
    .footer-accesorios{
        margin-top: 350%;
    }
}
@media(max-width:768px){ 
    .footer-accesorios{
        margin-top: 350%;
    }
}
@media(max-width:425px){
    .footer-accesorios{
        margin-top: 800%;
        width: 100vh;
        height: 100%;
    }
    .nav-accesorios{
        width: 100vh;
        height: 100%;
    }
}


/**RESPONSIVE-CONTACTO**/
@media(max-width:425px){
    .nav-contacto{
        width: 100vh;
        height: 100%;
    }
    .footer-contacto{
        width: 100vh;
        height: 100%;
        margin-top: 1200px;
    }
}


/**RESPONSIVE-CARRITO**/
@media(max-width:425px){
    .nav-carrito{
        width: 100vh;
        height: 100%;
    }
    .footer-carrito{
        width: 100vh;
        height: 100%;
        margin-top: 1200px;
    }
}


/**RESPONSIVE-TREN INFERIOR**/
@media(max-width:1024px){
    .nav-treninferior{
        height: 100%;
        width: 120%;
    }
    .footer-treninferior{
        margin-top: 350%;
        height: 100%;
        width: 120%;
    }
}
@media(max-width:768px){
    .nav-treninferior{
        width: 115vh;
        height: 100%;
    }
    .footer-treninferior{
        margin-top: 350%;
        height: 100%;
        width: 115vh;
    }
}
@media(max-width:425px){
    .footer-treninferior{
        margin-top: 650%;
    }
}
